.form {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*max-width: 800px;*/
    /*margin: 10px  0 10px;*/
    /*color: black;*/
}

textarea {
    flex: 1 1 60%;
    border: 1px solid #babec5;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding: 5px 10px 5px 10px;
    resize: vertical;
    margin: 5px 5px;
}

button {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    flex: 1 1 6%;
    color: white;
}

.form button {
    line-height: 1;
}

.form button, .form button:active {
    color: white;
}

.error::placeholder {
    color: red;
}

.offError::placeholder {
    color: black;
}
