form {
    display: flex;
    flex-direction: column;
    /*max-width: 800px;*/
    margin: 10px 0 0 0;
}

textarea {
    outline: 1px solid #babec5;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding: 5px 10px 5px 10px;
    resize: vertical;
}

button {
    margin: 10px 0 0 0;
    padding: 4px 30px 5px 10px;
    border-radius: 10px;
    align-self: end;
    background-color: aquamarine;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}


.error {
    border: 2px solid red;
}

.noError {
    border: none;
}
