.containerError{
    position: fixed;
    top: 5%;
    left: -100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    max-width: 500px;
    background: red;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 4px 10px black;

    z-index: 2;
    transition: all .4s ease-in-out 0s;
}
.containerError > span{
    display: block;
    color: white;
    padding: 10px 30px;
    font-size: var(--f-size16-22);
}
.containerError > div > svg{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    fill: white;
    cursor: pointer;
}

.on{
    left: 0;
}
.off {
    left: -100%;
}
