.container{
    display: flex;
    flex-direction: column;
}
.container__data{
    flex: 1 1 100%;
}
.container__button {
    background: rgba(135,216,237, 0.5);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 30px;
}

