.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
}

.container > div {
    top: 0;
}

.container__data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, auto));
}

.container__button {
    background: rgba(135, 216, 237, 0.5);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 30px;
}

