.foot {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-area: foot;
    grid-column: 2;
    background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612800826_3-p-nezhno-goluboi-fon-s-oblakami-3.jpg")0 top/cover no-repeat;
}