.container {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    background: var(--main-color);
    width: 100%;
    /*height: auto;*/
    z-index: 1;
}

.cont {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}