.container {
    background: var(--main-color);
    width: 100%;
}

.container > h2 {
    font-size: var(--f-size16-22);
    padding: 0 0 5%;
    margin: 0 0 16px;
    border-bottom: 1px solid var(--border-decor);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: flex;
    font-size: var(--f-size10-14);
    border-bottom: 1px solid var(--border-decor);
}

tr:last-child {
    border: none;

}

td {
    padding: 2%;
    width: 100%;
}

td:first-child {
    font-weight: 700;
    background: var(--bc-decor);
}

td:last-child {
}

.blockContacts {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-decor);
}

a {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.input {
    display: flex;
    width: auto;
    align-items: center;
}


input {
    border: 1px solid var(--border-decor);
}
p{
    margin: 5px;
    color: red;
}

.container form button {
    margin: 10px auto;
    padding: 10px 20px;

    color: var(--main-color);
}

