.main {
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr / minmax(auto, 100px) minmax(auto, 1300px);
    grid-area: main;
    grid-column: 2;

}
.content{
    display: grid;
    grid-gap: 10px;
    grid-column: 2;
    grid-template: minmax(100px, auto) 1fr / 1fr;
}
.content__wrap{
    position: relative;
    padding: 0 0 0 0;
}
.content__wrap img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.content__data {
    display: grid;
    grid-gap: 10px;
}
