.continer{
    max-width: 800px;
}

.content__myPost{
    font-size: 20px;
    margin: 0 0 10px;
}

.content__myPost button:active{
    box-shadow: inset 0 0 5px 2px grey;
}

/*для постов=======================================*/
.content__profUsers{
    display: flex;
    margin: 0 0 10px 0;
}
.img{
    width: 70px;
    min-width: 70px;
    height: 70px;
    margin: 0 10px 0 0;
}
.img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.postData{
    display: flex;
    flex: 1 1 auto;
}
.post{
    margin: 0 0 10px;
}
.message{
    flex: 1 1 auto;
    /*width: 300px;*/
}
.delPost{
    cursor: pointer;
    width: 10px;
    text-align: right;
}
/*.error{*/
/*    border: 2px solid red;*/
/*}*/
/*.noError{*/
/*    border: none;*/
/*}*/