.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.container>form{
    position: relative;
    padding: 4% 0 0;
    margin: 0;
}
.container>form:before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #babec5;
}
.dialogs__messages {
    display: block;
    line-height: 17px;
    color: black;
    font-weight: 700;

    max-height: 650px;
    overflow-y: auto;
padding: 0 20px;
    /*padding: 0 10px 0 0;*/
}

.dialogs__users {
    display: flex;
    align-items: start;

    font-weight: 400;
    min-height: 80px;
    max-height: 420px;
    margin: 20px 0 0 0;
}

.dialogs__users > div {
    display: flex;
    padding: 10px;
    color: black;
    border: 1px solid var(--color);
    border-radius: 10px 10px 10px 0;
}

.dialogs__users:nth-child(even) {
    justify-content: end;
}

.dialogs__users:nth-child(even) > div{
    border-radius: 10px 10px 0 10px;
    background-color: var(--color);
    color: white;
}



