.container {
    width: 100%;
}
.container>form{
    position: relative;
    padding: 10% 0 0;
    margin: 0;
}
.container>form:before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #babec5;
}
.dialogs__messages {
    display: block;
    line-height: 17px;
    color: black;
    font-weight: 700;

    max-width: 500px;
    max-height: 600px;
    overflow: auto;

    padding: 0 5px;
}

.dialogs__users {
    display: flex;
    align-items: start;

    font-weight: 400;
    min-height: 80px;
    max-height: 420px;
    margin: 20px 0 0 0;
}

.dialogs__users > div {
    display: flex;
    padding: 10px;
    background-color: #c2ffe7;
    border-radius: 5px 5px 5px 0;
}

.dialogs__users:nth-child(even) {
    justify-content: end;
}



