.header {
    display: grid;
    grid-template: 100px / minmax(auto, 100px)  minmax(auto, 1300px);
    grid-area: header;
    grid-column: 2;
    background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612800826_3-p-nezhno-goluboi-fon-s-oblakami-3.jpg")0 center/cover no-repeat;
}
.header img {
    padding: 10px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginBlock{
    grid-column: 3;
    margin: auto;
}
