.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.15)), linear-gradient(90deg, #15181B 0, #383a41 40%, #383a41 50%, #15181B 100%);
}


/*component form ------------------------------------------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    max-width: 407px;
    width: 100%;
    padding: 0 1%;
    }
    .container h2 {
        color: white;
        font-size: clamp(10 / 14 * 1rem, 5vw, 26 / 14 * 1rem);
        line-height: 1.5;
        margin: 0 auto 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 100%;*/
    color: white;
}

.inputs {
    position: relative;
    top: 0;
    max-width: 407px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.inputs input {
    display: block;
    width: 100%;
    padding: 16px 56px 16px 32px;
    border-bottom: 1px solid grey;
    font-size: clamp(10 / 14 * 1rem, 5vw, 14 / 14 * 1rem);
}

.iconMail, .iconPass {
    position: absolute;
    display: block;
    bottom: 0;
    right: 5%;
    width: 16px;
    height: 52px;
}

.iconMail svg, .iconPass svg {
    width: 100%;
    height: 100%;
}

.iconMail svg path, .iconPass svg path {
    fill: black;
}

.iconMail {
    top: 0;
}

.checkbox {
    display: flex;
    margin: 10px auto 10px 10px;
    height: 18px;
    font-size: clamp(10 / 14 * 1rem, 5vw, 14 / 14 * 1rem);
    cursor: pointer;

}

.checkbox > input {
    margin: 0 5px 0 0;

    height: 100%;
    width: 18px;
    cursor: pointer;

}

/*ERRORS ------------------------------------------------------*/
.errors {
    display: block;
    color: red;
}

.errors p {
    font-size: clamp(10 / 14 * 1rem, 5vw, 14 / 14 * 1rem);
    line-height: 1.2;
}
/*--------------------------------------------------------------------*/

