.nav {
    display: grid;
    grid-column: 1;
    background: rgb(135,216,237);
    position: relative;
    }
    nav ul{
        margin: 5px 15px 0 5px;
        position: sticky;
        top: 0;
        left: 0;
    }
    nav li:last-child{
        margin: 20px 0 0 0;
        font-size: 20px;
        font-weight: 300;
    }
    nav a{
        color: white;
        line-height: 17px;
        }
    nav a.activeLink {
            color: burlywood;
}

.item__friends{
    display: inline-block;
    text-align: center;
    margin: 5px 6px 0 0;
    font-size: 8px;
    color: white;
    }
    .item__friends div{
        width: 20px;
        height: 20px;
        }
        .item__friends div img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
}
