.nav {
    display: grid;
    grid-column: 1;
    background-color: aquamarine;
    position: relative;
    }
    nav ul{
        margin: 5px 15px 0 5px;
        position: sticky;
        top: 0;
        left: 0;
    }
    nav li{
    }
    nav a{
        color: white;
        line-height: 17px;
        }
    nav a.activeLink {
            color: burlywood;
}