/*====================Профиль данные =========================*/
.content__profile {
    position: relative;
    max-width: 100%;
    /*background: red;*/
    /*min-height: 200px;*/
}


.data {
    margin: 90px 0 0;
}

table {
    font-size: clamp(10 / 14 * 1rem, 5vw, 14 / 14 * 1rem);;
    border-collapse: collapse;
    white-space: nowrap;
    max-width: 800px;
    width: 100%;
}
tr{
    border-bottom: 1px solid #babec5;
}
tr:last-child{
    border-bottom: none;
}
td{
    width: 200px;
    padding:8px;
}
a{
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
td:first-child {
    background: #e8e6e6;
}





