.header {
    position: relative;
    display: grid;
    grid-template: auto / minmax(auto, 130px)  minmax(auto, 1fr);
    grid-area: header;
    grid-column: 2;
    /*background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612800826_3-p-nezhno-goluboi-fon-s-oblakami-3.jpg") 0 center/cover no-repeat;*/
    height: 100px;
    transition: height 0.5s ease;
}

.expanded {
    height: 300px;
    transition: height 0.5s ease;
}

.log {
    display: flex;
    margin: auto;
    width: 70px;
    height: 70px;
    z-index: 1;

}

/*.log a svg{*/
/*    transition: all .1s ease 0s;*/
/*}*/
.log > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .1s ease 0s;
    filter: drop-shadow(2px 2px 2px black);

}

.log:hover > a > img {
    transform: rotate(-3deg);
    filter: drop-shadow(0 2px 5px black);

    /*filter: drop-shadow(2px 2px 2px black);*/
    transition: all .3s ease 0s;
}
/*.log:hover a svg {*/
/*    transform: rotate(-3deg);*/
/*    filter: drop-shadow(2px 2px 2px black);*/
/*    transition: all .3s ease 0s;*/
/*}*/

.log a {
    display: block;
    width: 100%;
    height: 100%;
}

/*COLOR LOGO -------------------------------*/
.log a svg path:nth-child(1) {
    fill: brown;
}

.log a svg path:nth-child(2) {
    fill: #8dc63f;
}

.log a svg path:nth-child(3) {
    fill: #8224e3;
}

.log a svg path:nth-child(4) {
    fill: #383a41;
}

.log a svg path:nth-child(n+5):nth-child(-n+9) {
    fill: #8dc63f;
}

/*COLOR LOGO -------------------------------*/


.loginBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0 auto auto;
    grid-column: 2/3;
    z-index: 1;
    color: white;
    text-shadow: 0 1px 3px #8224e3;
    background: var(--rgba-color);
    flex: 1 1 auto;
    /*max-width: 200px;*/
    /*width: 100%;*/
    padding: 10px;
    border-radius: 25px 0 0 25px;

}

.blockImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.changeAva {
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin: 5px 20px;
    width: 30px;
    height: 30px;
}

.changeAva:hover g, .changeAva:hover g path {
    background: #a968ec;
    fill: white;
}

.changeAva > input {
    display: none;
}

.changeAva > svg, .blockLogout > button > svg {
    filter: drop-shadow(0px 0px 2px var(--main-color));
}


.blockLogout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

.blockLogout > button {
    background: transparent;
    width: 100%;
    height: 100%;
}

.blockLogout:hover svg {
    fill: #a968ec;
}
