.containerPages{
    display: flex;

    align-items: center;
    /*max-width: 211px;*/
    }
    .page{
        cursor: pointer;
        padding: 0 5px;
    }
    .pageActive{
        font-weight: 900;
        text-decoration: underline;
        margin: 0 5px;
    }

    .paginatorBut{
        display: flex;
        margin: 0;
        max-width: 79px;
        width: 100%;
        }
        .paginatorBut > button {
            margin: 0 5px 0 0;
            padding: 0 10px;
            line-height: 1.3;
}