.containerPages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 1%;

    border-bottom: 1px solid var(--border-decor);
}
.containerPages>span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--bc-decor);
    margin: 0 2px;
    transition: box-shadow .2s ease 0s;
}
.containerPages>span:not(.pageActive):hover, .paginatorBut>button:hover{
    color: var(--color);
    box-shadow: inset 1px 1px 4px black;
    transition: box-shadow .3s ease 0s;
}


div .pageActive{
    color: var(--main-color);
    box-shadow: var(--sw-but);
    background: var(--bc-but);
}

.paginatorBut {
    display: flex;
    margin: 0;
    max-width: 79px;
    width: 100%;
}

.paginatorBut > button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);

    width: 36px;
    height: 36px;
    margin: 2px;

    border-radius: 50%;
    background: var(--bc-decor);
}